#login{
	-fx-background-color: WhiteSmoke;
}

#password{
	-fx-background-color: WhiteSmoke;
}

.button{
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-border-color: CornflowerBlue;
	-fx-text-fill: CornflowerBlue;
}
#wrongMessage{
	
}
#signUp{
	-fx-border-color : GRAY; 
    -fx-border-width : 0.5 0 0 0;
}